# Modified by BW-Tech GmbH
parameters:
  level: 9
  phpVersion: 80400
  inferPrivatePropertyTypeFromConstructor: true
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  paths:
    - lib
  excludePaths:
    - %currentWorkingDirectory%/appinfo/Migrations/*.php
    - %currentWorkingDirectory%/appinfo/routes.php
  ignoreErrors:
    -
      message: '#Property OCA\\Guests\\Controller\\RegisterController::\$groupManager is never read, only written.#'
      path: lib/Controller/RegisterController.php
      count: 1
    -
      message: '#Property OCA\\Guests\\Controller\\RegisterController::\$secureRandom is never read, only written.#'
      path: lib/Controller/RegisterController.php
      count: 1
    -
      message: '#Property OCA\\Guests\\Controller\\SettingsController::\$userId is never read, only written.#'
      path: lib/Controller/SettingsController.php
      count: 1